<h1>Hi, and welcome! Please sign up</h1>

<form method="POST" action="/users/signup" id="signup" name="signup" >
    <div>
        <label for="firstname">First Name:</label>
        <input type="text" id="firstname" name="firstname" />
    </div>
    <div>
        <label for="lastname">Last Name:</label>
        <input type="text" id="lastname" name="lastname" />
    </div>
    <div>
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" />
    </div>
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" />
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" />
    </div>
    <div>
        <button type="submit">Submit</button>
    </div>
</form>